.services-page .services-page_description {
  color: #2d2d2d;
  font-size: 13px;
  max-width: 1083px;
  text-align: center;
  margin: 0 auto;
}

.services-page .services-block_photo {
  margin: 30px 0;
}

.services-page .services-page_about {
  padding-bottom: 30px;
}

.services-page .services-page_about .services-page_description {
  position: relative;
  padding: 30px 0;
}

.services-page .services-page_about .services-page_description:not(:last-child):after {
  content: "";
  width: 4px;
  height: 4px;
  background-color: #000;
  position: absolute;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.services-page .request-block {
  background: #dfdfdf;
  padding-top: 30px;
}